.js-page {overflow: hidden;}

.js-page-content {
  min-height: 100vh;
  padding: 20px;
  color: $white;
  box-shadow: inset 0 0 0 10px $white;
  opacity: 0;
}

.js-reveal-site {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 10%;
  height: 2px;
  background: $black;
  pointer-events: none;
}
