@keyframes hard-glitch {
  0% {transform: translate(1px, 1px);}
  25% {transform: translate(2px, 3px);}
  50% {transform: translate(-3px, -1px);}
  75% {transform: translate(2px, 2px);}
  100% {transform: translate(-2px, 1px);}
}

@keyframes soft-glitch {
  0% {transform: translate(-1px, -1px);}
  25% {transform: translate(-2px, -2px);}
  50% {transform: translate(2px, 1px);}
  100% {transform: translate(-1px, -1px);}
}
